
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* styling the navbar */
.navbar-container {
  background-color: #3c3a39;
  color: white;
  padding: 7px 24px;
  height: 48px;
}

.navbar-container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}

.navbar-container nav * {
  list-style-type: none;
  height: 30px;
  padding-bottom: 12px;
}

.logo-item {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  align-items: center;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

/* styling the main section */
.intro-container {
  background-color: #1c1a19;
  background-image: url("Images/Icons/illustration-header-mobile.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 101%;
  background-position-y: 130%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0% 6%;
}

.intro-container h1 {
  letter-spacing: 0.37px;
  font-size: 56px;
  font-weight: 400;
  line-height: 4rem;
  width: 100%;
  height: 124px;
  color: #ff6b00;
  text-transform: capitalize;
  font-family: 'Crete Round', serif;
}

.intro-container h2 {
  color: #fff5e1;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 2rem;
  height: 27px;
  width: 100%;
  margin-top: 3%;
}

.intro-container p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5rem;
  height: 123px;
  width: 92%;
  margin-top: 4%;
  color: #fff5e1;
}

.intro-container ul {
  height: 30px;
  width: 60%;
  margin-top: 5%;
  display: flex;
}

.intro-container li {
  flex: 1;
  list-style: none;
  padding-top: 2%;
}

/* styling the recent work container */
footer > hr {
  background-color: #0d151e;
  width: 35%;
  height: 5px;
  margin-left: 32%;
}

.recent-work {
  height: 112vh;
  width: 100%;
  background-image: none;
  padding: 20% 24px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.recent-work h2 {
  font-size: 40px;
  font-weight: 400;
  font-family: 'Crete Round', serif;
  width: 100%;
  line-height: 2rem;
  height: 83px;
  text-align: center;
  margin-bottom: 24px;
  color: #1c1a19;
}

.recent-work hr {
  width: auto;
  margin-top: 4px;
  margin-bottom: 90px;
  color: #212121;
}

.recent-work img {
  width: auto;
  margin-bottom: 24px;
}

.recent-work h3,
.text {
  margin-bottom: 12px;
  color: #091e42;
  font-size: 32px;
  line-height: 2rem;
  font-weight: 400;
  font-family: 'Crete Round', serif;
  width: auto;
}

.recent-work .text {
  line-height: 1.5rem;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.recent-work ul {
  display: flex;
  width: 90%;
  justify-content: space-between;
  height: 40px;
  margin-bottom: 12px;
}

.recent-work li {
  border: 1px solid #8993a4;
  align-items: center;
  padding: 10px 12px;
  list-style: none;
}

.recent-work button {
  width: 40%;
  height: 48px;
  padding: 12px;
  background: #ff6b00;
  margin: 12px 0;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border: 0;
}

/* styling the project or work section */

.work-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 386px;
  padding: 10% 24px 35% 24px;
  height: auto;
  gap: 2%;
}

.work-container > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url("Images/worksection/work-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.work-container > div h3 {
  font-size: 32px;
  font-weight: 400;
  margin-top: 74px;
  line-height: 3rem;
  font-family: 'Crete Round', serif;
  height: 81px;
  width: 100%;
  color: #fff;
  padding: 0 16px 0 20px;
}

.work-container > div p {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  height: 90px;
  width: 100%;
  padding: 0 35px 0 20px;
  color: #fff;
  line-height: 1.5rem;
  margin-top: 24px;
}

.work-container > div ul {
  display: flex;
  width: 100%;
  padding: 0 16px 0 20px;
  justify-content: flex-start;
  margin-top: 24px;
  gap: 15px;
}

.work-container > div li {
  list-style-type: none;
  padding: 10px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  background-color: rgba(255, 255, 255, 0.24);
}

.work-container > div button {
  height: 50px;
  width: 100%;
  text-align: center;
  line-height: 3rem;
  font-size: 17px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  background-color: #ff6b00;
  color: #fff;
  text-decoration: none;
  margin-top: 22px;
  border: 0;
}

/* styling the about section */

.about-container {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 64% 0 0 0;
}

.about-container div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: black;
  color: #fff;
  background-image: url("Images/Aboutsection/Group.png");
  background-size: 60%;
  background-position: 100%;
  background-repeat: no-repeat;
  background-position-y: 90%;
  justify-content: flex-start;
  padding: 148px 24px 0 24px;
}

.about-container div h2 {
  width: 100%;
  height: 79px;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  color: #ff6b00;
}

.about-container div p {
  width: 90%;
  height: 148px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.about-container div > button {
  width: 40%;
  height: 42px;
  color: #fff;
  background-color: #ff6b00;
  margin-top: 3%;
  border: 0;
  text-align: center;
  line-height: 2rem;
  text-decoration: none;
}

.about-container div hr {
  width: 100%;
  margin-top: 75%;
  color: #fff;
}

.about-container .skill-section {
  padding: 11px 24px 0 24px;
  display: flex;
  flex-direction: column;
  background-image: none;
  width: 100%;
  height: 120vh;
}

.about-container div > ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 3%;
  width: inherit;
}

.about-container div li {
  width: 100%;
  text-align: center;
  list-style: none;
  margin: 2%;
  height: 30px;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  font-weight: 400;
}

.about-container div li .frames-title {
  height: 50px;
  font-size: 30px;
}

footer {
  width: 100%;
  height: 100vh;
  padding: 120px 24px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
}

footer div.icons > ul {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

footer div.icons > ul > li {
  list-style-type: none;
  padding: 1rem 0;
}

footer div.icons h2.attract {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin-bottom: 1rem;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.formel {
  width: 100%;
  margin-bottom: 24px;
  height: 80px;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  padding-left: 10px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
}

.textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 36px;
  font-size: 20px;
  padding-left: 10px;
}

footer div.icons form > button {
  padding: 20px 5px;
  font-size: 20px;
  background-color: #ff6b00;
  color: #fff;
  border: none;
  text-align: center;
  width: 50%;
  margin-left: 27%;
  margin-bottom: 60px;
}

.line {
  width: 100%;
  height: 1px;
  color: #dfe1e6;
  margin-bottom: 20px;
}

.recent-work button:hover,
.work-container > div button:hover,
.about-container div > button:hover,
div.icons form > button:hover {
  color: #ff6b00;
  border: 1px solid #f55800;
  background: #fff5e1;
}

body section.recent-work button:focus,
body section.work-container > div button:focus,
body section.about-container div > button:focus,
footer div.icons form > button:focus {
  background-color: #e05304;
  color: #f4f1f0;
}
